In [1]:
#importing the necessary modules
from pyspark.sql import SparkSession

In [3]:
#Starting the spark session
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [5]:
#creaing a dataframe
df = spark.read.json('people.json')

In [6]:
#show the content of dataframe
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [7]:
#print schema of the dataframe
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
#Show the column name 
df.columns

['age', 'name']

In [10]:
#Print the statitistical summary of numeric column
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [11]:
from pyspark.sql.types import StructField,StructType,StringType,IntegerType

In [12]:
#create a list of structure filed
data_schema = [StructField("age",IntegerType(),True),
              StructField("name",StringType(),True)]

In [14]:
final_struct = StructType(fields = data_schema)

In [15]:
df = spark.read.json("people.json",schema = final_struct)

In [16]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [17]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [18]:
df['age']

Column<b'age'>

In [19]:
type(df['age'])

pyspark.sql.column.Column

In [20]:
df.select('age')

DataFrame[age: int]

In [21]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [22]:
#check row object in a datafraem
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [23]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [24]:
#Adding a new column to the dataframe
df.withColumn("double_age",df['age']*2).show()

+----+-------+----------+
| age|   name|double_age|
+----+-------+----------+
|null|Michael|      null|
|  30|   Andy|        60|
|  19| Justin|        38|
+----+-------+----------+

In [25]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [27]:
df.withColumnRenamed("age","my_new_age").show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [38]:
#Create a temporary sql view to query using sql in pyaspark dataframe

df.createOrReplaceTempView("people")

In [39]:
from pyspark.sql import SQLContext

In [42]:
results = spark.sql("SELECT * FROM people")

In [43]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [46]:
new_results = spark.sql('select * from people where age=30')

In [47]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+